.home { 
    height: 80vh; 
    display: flex;  
    justify-content: space-around;
    align-items: center;
    position: relative; 
    width: 100%;
    margin-top: var(--height-header); 
    display: flex; 
    justify-content: space-around;
}  
.infor { 
    width: calc(100% - 780px); 
    font-size: 52px; 
    font-weight: 800;
} 
.name { 
    color: var(--primary);
}
.auto-write-text { 
    width: 50%; 
    max-width: 600px;
    margin: 0 auto;
}
.avatar { 
    width: 400px; 
    height: 400px; 
    border-radius: 50%; 
    border: 1px solid #ddd;
} 